h2,
p {
  color: white;
  text-align: right;
  padding: 5px;
  line-height: 0.9px;
}

.TextDI {
  padding: 10px;
}

.note {
  font-weight: 100;
  font-size: small;
}

.note img {
  padding-left: 5px;
}

.leftBtn {
  padding: 5px 80px;
  border-radius: 25px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

hr {
  opacity: 80%;
}

.pro img {
  width: 60px;
}

.pro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.newPro {
  margin-right: -10px;
  margin-bottom: -5px;
}

.popup_cont {
  position: relative;
  top: -380px;
  left: -500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
}

.popup_download_content {
  text-align: center;
  font-size: 20px;
}
.popup_cont h1 {
  font-size: 45px;
}

.confirm_popup button {
  padding: 5px 35px;
  margin: 15px 5px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
}
