.inner_div_main {
  position: relative;
  background-color: #475366;
  height: 285px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.inputColor {
  position: relative;
  left: -112px;
  top: 3px;
  width: 90px;
  opacity: 0;
}

.uploaded_img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
