.popup_terms_overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.5;
  left: 0;
}

.popup_terms {
  position: relative;
  top: -380px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
}

img.close_popup {
  width: 18px;
  background-color: black;
  border-radius: 25px;
  padding: 4px;
  margin: 0 auto;
  position: relative;
  top: 38px;
  cursor: pointer;
}

.popup_content {
  color: black;
  text-align: right;
  direction: rtl;
  font-size: 20px;
}
